/* Reset bases */
.window-app .window-content,
.message-content {
  background: #fff;
  font-family: 'Lora-Regular';
}
.window-app .window-content .czt-wrapper .czt-row,
.message-content .czt-wrapper .czt-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.window-app .window-content .czt-wrapper .czt-row .czt-column,
.message-content .czt-wrapper .czt-row .czt-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}
.window-app .window-content div.editor,
.message-content div.editor {
  flex: 0 0 auto;
  width: 100%;
  height: 300px;
}
.window-app .window-content .czt-ul,
.message-content .czt-ul,
.window-app .window-content .czt-ol,
.message-content .czt-ol {
  margin-top: 0;
  padding: 0;
}
.window-app .window-content .czt-ul li,
.message-content .czt-ul li,
.window-app .window-content .czt-ol li,
.message-content .czt-ol li {
  list-style: none;
  margin-left: 0;
}
.window-app .window-content .czt-table,
.message-content .czt-table {
  background: unset;
  margin: 0;
  border: none;
}
.window-app .window-content .czt-table tr,
.message-content .czt-table tr {
  background-color: unset;
}
.window-app .window-content .czt-table .table-line-img,
.message-content .czt-table .table-line-img {
  width: 45px;
}
.window-app .window-content .czt-table .table-line-img img,
.message-content .czt-table .table-line-img img {
  width: 40px;
  height: 40px;
}
.window-app .window-content .czt-table .table-line-name,
.message-content .czt-table .table-line-name {
  padding-left: 3px;
}
.window-app .window-content .czt-table .table-line-control,
.message-content .czt-table .table-line-control {
  width: 30px;
}
.window-app .window-content .czt-table .table-line-control i.fa-trash,
.message-content .czt-table .table-line-control i.fa-trash {
  cursor: pointer;
}
.window-app .window-content .czt-no-flex,
.message-content .czt-no-flex {
  flex: 0 0 auto;
}
.window-app .window-content .czt-style-bold-italic,
.message-content .czt-style-bold-italic {
  font-weight: bold;
  font-style: italic;
}
.window-app .window-content .czt-style-center,
.message-content .czt-style-center {
  text-align: center;
}
.window-app .window-content .czt-margin-bottom,
.message-content .czt-margin-bottom {
  margin-bottom: 3px;
}
.window-app .window-content .czt-float-left,
.message-content .czt-float-left {
  float: left;
}
@font-face {
  font-family: 'PT Sans';
  src: local('PT Sans'), local('PTSans-Regular'), url('./fonts/PTSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Lora-Bold';
  src: local('Lora-Bold'), url('./fonts/Lora-Bold.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Lora-Regular';
  src: local('Lora'), local('Lora-Regular'), url('./fonts/Lora-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'segoesc';
  src: local('segoesc'), url('./fonts/segoesc.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
/* Items Sheet */
/* Actors Sheet */
.window-app.sheet.actor .window-content .game-name {
  font-family: 'segoesc';
  font-size: 60px;
}
.window-app.sheet.actor .window-content .text-to-down {
  padding-top: 5px;
}
.window-app.sheet.actor .window-content .master-label-block {
  flex: 0 0 auto;
  width: 15%;
  align-items: baseline;
}
.window-app.sheet.actor .window-content p {
  text-indent: 3ch;
}
.window-app.sheet.actor .window-content .click-cube-live {
  cursor: pointer;
}
.window-app.sheet.actor .window-content .element-border {
  flex: 0 0 auto;
  width: 20%;
  padding: 0 7px 0 7px;
  text-align: center;
}
.window-app.sheet.actor .window-content .approach-block {
  flex: 0 0 auto;
  padding: 7px 13px 7px 17px;
  width: 200px;
  cursor: pointer;
  border: 3px solid var(--color-text-light-1);
  border-radius: 20px;
}
.window-app.sheet.actor .window-content .padding-top {
  padding-top: 10px;
}
.window-app.sheet.actor .window-content .appr-block-left {
  margin-left: auto;
}
.window-app.sheet.actor .window-content .side-block {
  padding-right: 5px;
}
.window-app.sheet.actor .window-content input[type="text"] {
  border: none;
  border-bottom: 1px solid black;
  background-color: #fff;
}
.window-app.sheet.actor .window-content .block-presl li {
  margin-top: 10px;
}
.window-app.sheet.actor .window-content .block-presl li:first-child {
  margin: 0;
}
.window-app.sheet.actor .window-content .help-list li {
  margin-bottom: 7px;
}
.window-app.sheet.actor .window-content .put-goals {
  flex: 0 0 auto;
  cursor: pointer;
}
.window-app.sheet.actor .window-content .actor-items-equipment {
  height: 100%;
}
.window-app.sheet.actor .window-content .actor-items-equipment td {
  vertical-align: top;
  height: 20px;
}
.window-app.sheet.actor .window-content .style-width10-center {
  flex: 0 0 auto;
  width: 5%;
  text-align: center;
}
.window-app.sheet.actor .window-content .text-align-right {
  text-align: right;
}
.window-app.sheet.actor .window-content .properties .czt-row {
  margin-top: 10px;
}
.window-app.sheet.actor .window-content .properties .block-inline {
  flex: 0 0 auto;
}
.window-app.sheet.actor .window-content .properties .fonst-size-30 {
  font-size: 30px;
}
.window-app.sheet.actor .window-content .properties .block-header {
  font-weight: bold;
}
.window-app.sheet.actor .window-content .properties .style-width15 {
  flex: 0 0 auto;
  width: 20%;
  align-self: center;
}
